
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ frontMatter.title }}</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
{{> "components/global-header"}}
{{#block "body"}}
{{/block}}
<script src="/js/app.js"></script>
</body>
</html>